/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/* Colours:
    Background topbar : #554840
    Background content : #eae7d2
    background menu : #797066
    text content: #aead9f

*/

#container
        {
            max-width: 1000px;
            margin-right: auto;
            margin-left: auto;
        }

#topbar
        {
            background-color: #554840 ;
            color: white;
        }
        
#content
        {
            
            background-color: #eae7d2 ;
            color : #ac9c8a;
        }
        
#maincontent
        {
            width: 700px;
            float: left;
        }
        
#subcontent
        {
            margin-left: 700px;
            width: 299px;
            border-left-style: dashed;
            border-left-color: black;
            border-left-width: 1px;
        }