/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/* Colours:
    Background topbar : #554840
    Background content : #eae7d2
    background menu : #797066
    text content : #ac9c8a;

*/

#container
        {
            max-width: 1000px;
            margin-right: auto;
            margin-left: auto;
        }

#topbar
        {
            background-color: #554840 ;
            color: #ac9c8a;
            height: 330px;
            background-image: url(pics/coffey.jpg);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 1000px 300px ;
            background-origin: content-box;
            text-align: right;
        }
        
#content
        {
            float: left;
            width: 1000px;
            background-color: #eae7d2 ;
            color : #ac9c8a;
            font-family: "Times new roman" , serif ;
        }
        
#maincontent
        {
            padding-left: 10px;
            padding-right: 10px;
            width: 680px;
            float: left;
        }
        
#subcontent
        {
            font-size: 85%;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 700px;
            width: 279px;
            border-left-style: dashed;
            border-left-color: black;
            border-left-width: 1px;
        }
        
#bottomcontent
        {
            padding-bottom: 10px;
            padding-left: 5px;
            text-align: left;
        }
        
#menu
         {
             height: 50px;
             border: 0px;
             width: 1000px;
             background-color: #554840;
             
         }
        
        
        
/* Menu */



#menu ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            text-transform: capitalize;
            position: relative;
            bottom: 0px;
            left: 20px;
            top: 10px;
            
        }

#menu li 
        {
            float: left;
            background-color: #797066;
            
        }

#menu a:link
        {
            display: block;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-left-style: solid;
            border-left-width: 1px;
            border-left-color: #554840;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            height: 20px;
            
           
            
        }
        
#menu a:visited
        {
            display: block;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-left-style: solid;
            border-left-width: 1px;
            border-left-color: #554840;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            height: 20px;
            
           
            
        }

#menu a:hover
        {
            display: block;
            background-color: #9c9084;
            padding-left: 5px;
            padding-right: 5px;
            border-left-style: solid;
            border-left-width: 1px;
            border-left-color: #554840;
            color: white;
            text-decoration: none;
            font-size: 20px;
            height: 20px;
        }
        
#menu .active
        {
            background-color: #eae7d2;
          
        }

#menu .active a
        {
            color : #ac9c8a;
        }
        
#menu .active a:hover
        {
            color : white;
        }
        
#menu a[href*="maincontent"]
        {
            display: none;
        }   
        
/* floating bild*/

img
        {
            float: left;
            width: 100px;
            border-style: solid;
            border-width: 5px;
            border-color: #eae7d2;
        }
        
        
/* Links */
#content a:link
        {
            color : #ac9c8a;

        }
        
#content a:visited
        {
            color : #ac9c8a;

        }
        
/* Random */

h1, h2
        {
            font-weight: normal;
        }
        
ul
        {
            list-style: none;
            color : #ac9c8a;
            text-indent: 0px;
            padding-left: 0px;
            margin-top: 0px;
        }
        
h2
        {
            margin-bottom: 0px;
        }
        
#maincontent h1
        {
            margin-bottom: 5px;
        }
